page-question {
    .user_info_footer{
        color: #a8a8a8;
        font-size: 0.75em;
        text-align: right;
        margin-right: 0.25em;
    }
    .tags_footer{
        color: #a8a8a8;
        font-size: 0.75em;
        margin-left: 1.2em;
    }
    .question {
        font-weight: bold;
        font-size: 1.2em;
    }
}